.card {
  width: 14rem;
  height: 494px;
  padding: 0.8em;
  background: #0e2954;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  margin: 2rem;
  color: white;
}

.card_img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card_info {
  padding-top: 10%;
  list-style: none;
  text-align: center;
}

.svg_icon {
  width: 30px;
  height: 30px;
}

.btn {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
}

.card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  list-style: none;
}

/*Text*/
.text_title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
}

.text_body {
  font-size: 0.9em;
  padding-bottom: 10px;
  list-style: none;
}

/*Button*/
.card_button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/

.btn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card_button:hover {
  border: 1px solid rgb(3, 6, 58);
  background-color: white;
}

.card_button:hover .svg_icon {
  fill: #fff;
}
