.containerCard{
    width:fit-content;
    box-shadow: 2px 2px 10px black;
    padding: 2rem;
    transition: 2s;
}
.containerCard:hover{  
box-shadow: 2px 2px 10px yellow;
cursor: pointer;

}
.image{
width: 200px;
}