.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  min-height: calc(100vh - 80px);
  transition: all 0.3s ease-in-out;
  background-color: #1f6e8c;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 70px;
  padding: 15px;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 70%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 27px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid #000000;
}

.totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid #000000;
}

.btn_addCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 200px;
  height: 100%;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: #001d4a;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn_addCart:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.price_Number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 8px;
  transition: all 0.3s ease-in-out;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.card__text {
  display: flex;
  margin-bottom: 20px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 100;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: #001d4a;
}

.cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 40%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding-right: 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 40px;
}

.countContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.card__counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 5px;
  background: #666;
  border-radius: 50px;
}

.raiting {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.raiting__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raiting__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.card__counter_score {
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color);
}

.card__counter_score,
.card__btn {
  font-weight: 600;
  font-size: 22px;
  color: var(--main-color);
}

.card__btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background: transparent;
}

.card__btn:hover,
.card__btn:focus {
  background: var(--main-color);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.card__btn_plus {
  background: var(--bg-color);
}

.btn_back {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em;
  margin-top: 4em;
  margin-left: 1.2em;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}

.btn_back:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
