.label {
  color: white;
  text-decoration: none;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  background-color: #001d4a;
}

.containerEditUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
  width: 20%;
  background-color: #1f6e8c;
  border-radius: 30px;
}

.formEditUser {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.btn_back {
  margin: 1rem;
}

.input{
  text-align: center;
  border-radius: 30px;
}

.img{
  border-radius: 50%;
  margin: 10px;
}

.containerOrdenesCompras {
  display: flex;
  flex-direction: column;
  background-color: #1f6e8c;
  border-radius: 30px;
  width: 90%;
}
.ordenCompra {
  background-color: #001d4a;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin:10px;
  border-radius: 30px;
}
.ordenDetail {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.containerProduct{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
