.contenedorCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #84a7a154;
  border-radius: 15px;
  margin: 2rem;
  width: 80%;
}

.card_button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.card_button:hover {
  border: 1px solid rgb(3, 6, 58);
  background-color: rgb(3, 6, 58);
}
