.containerPaginado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginado {
  padding: 2px;
}

.buttonPag {
  background-color: #fff;
  color: #0e2954;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
  margin-inline: 0.4rem;
  font-weight: 900;
}

.buttonPag:hover {
  transform: scale(1.2);
}
