.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background-color: #2e8a99;
}

.cantidad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 20px;
    height: 30px;
}

.btncount{
    height: 30px;
}

.ul{
    list-style: none;
    /* background-color: white; */
    padding: 20px;
}
.li1{
    list-style: none;
    /* background-color: white; */
    padding: 20px;
}

.li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100%;
    color: #1F6E8C;
}

.price{
    margin: 10px;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.totalPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}

.compra{
    margin-left: 100px;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btnCompra{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.btn{
    margin: 10px;
    cursor: pointer;
    outline: none !important ;
    box-shadow:none!important;
    width: 120px;
    height: 40px;
    font-size: 15px;
    background-color: #1f6e8c;
    border-radius: 10px;
    border: none;
}

.btn:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}

.btn_back{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 0.3em;
    margin-top: 4em;
    margin-left: 1.2em;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    position: absolute; 

}

.btn_back:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/* .ul::-webkit-scrollbar{
    width: 15px;
}

.ul::-webkit-scrollbar-thumb{
    background-color: #1F6E8C;
    border-radius: 20px;
    border: 5px solid #0E2954;
}

.ul::-webkit-scrollbar-track{
    background-color: #0E2954;
    border-radius: 20px;
} */