.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 0 15px 0;
    border: 2px solid  #001d4a;
    padding: 10px;
    box-shadow: 5px 5px 15px black;
    width: 30%;
}