.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e2954;
  margin-top: 2rem;
  color: aliceblue;
}

.icon {
  margin-inline: 5px;
}

.logo {
  margin-left: 3rem;
  font-size: 25px;
  font-weight: bold;
}
