.container {
  /* background-color: #2a1f2d; */
  background-color: #2e8a99;
  min-height: calc(100vh - 112px);
  background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.651)),
    url(https://images.unsplash.com/photo-1649859398731-d3c4ebca53fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-position:center center;
  background-size: cover;
}

.containerCardsHome {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  width: 100%;
}


.bienvenidoHome {
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 45px;
}
.homeContainer{
  display: flex;
  flex-direction: row;
}
.filters{
  width: 0%;
}
